# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Helm cache
charts/
*.tgz

# Secrets — NICIODATĂ commit secrete în clear
*-secret.yaml
secret.yaml
secret-*.yaml
secrets.yaml
.env
.env.*
!*-sealed-secret.yaml
!sealed-secret-*.yaml

# Kubeconfig
kubeconfig
*.kubeconfig

# Backups
*.backup
*.bak
